<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- 1. Создать две кнопки “Мне исполнилось 14 лет” и “Мне еще нет 14 лет”
2. Если пользователь нажимает на первую кнопку, то должен
отобразиться текст. “Можете заказать товар”
3. Если пользователь нажимает на вторую кнопку, отображается текст
“Доступ закрыт” -->

    <div id="app">
      <button @click="isTrue=true">Мне исполнилось 14 лет</button>
      <button @click="isTrue=false">Мне еще нет 14 лет</button>
      <div v-if="isTrue" class="result">Content 14+</div>
      <div v-else class="result">Доступ закрыт</div>

      <!-- Создать кнопку “Показать еще” при клике на которую появляется контент под кнопкой, при повторном клике, контент необходимо скрыть. Здесь используем переключатель showContent() = !showContent() нажали - показан контент, нажали - не показан -->
      <button @click="showContent = !showContent">Показать еще</button>
      <div v-if="showContent">Еще контент</div>

      <!-- 1. Создайте кнопку "Генерировать случайное число". При клике на
        кнопку должно отображаться случайное число в заданном диапазоне (например, от 1 до 10).
        2. При клике на кнопку, если полученное значение меньше 5, необходимо вывести на страницу, “Число меньше 5”
        3. Если число от 5 до 9, необходимо вывести “Число от 5 до 9”
        4. Если число равно 10, необходимо вывести “Число ранов 10” -->

      <br><br>
      <button @click="randomNumber">Генерировать случайное число</button>
      <div>{{ number }}</div>
      <div>{{ getNumberInfo }}</div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        data() {
          return {
            isTrue: true,
            showContent: false,
            number: 0,
          };
        },
        methods: {
          randomNumber() {
            this.number = Math.floor(Math.random() * 10 + 1);
          },
        },
        computed: {
          getNumberInfo() {
            if (this.number < 5) {
              return 'Число меньше 5'
            } else if (this.number === 10) {
              return 'Число равно 10'
            }else {
              return 'Число от 5 до 9'
            }
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
