* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Jost", sans-serif;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) calc(100% - 1px), #e6e6e6 0);
  background-size: calc((100% - 4px) / 5 + 1px) 100%;
}

.center {
  padding-left: calc(50% - 600.5px);
  padding-right: calc(50% - 600.5px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 44px;
  margin-bottom: 45px;
}
.header__header-brand {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.header__name-brand {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #292f36;
}
.header__menu {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.header__menu-link {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #292f36;
}
.header__menu-link:hover {
  color: #cda274;
  transition: all 0.5s ease;
}
.header__menu-link:active {
  color: #4d5053;
  transition: all 1s ease;
}

.banner {
  background-image: url("../image/ImagBanner.png");
  height: 351px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 52px;
  margin-top: 200px;
}

.section-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
.section-news__post {
  padding-bottom: 35px;
}
.section-news__title-news {
  color: #292f36;
  font-family: "DM Serif Display", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  width: 684px;
  margin-bottom: 21px;
}
.section-news__image-post {
  width: 799px;
  height: 539px;
  border-radius: 10%;
}
.section-news__date-link {
  display: flex;
  flex-direction: row;
  gap: 409px;
  margin-top: 46px;
}
.section-news__date {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4d5053;
}
.section-news__breadcrumbs {
  margin: 0;
  padding: 0;
}
.section-news__breadcrumbs-item {
  display: inline-block;
  align-items: center;
}
.section-news__breadcrumbs-item:not(:last-child)::after {
  content: "/";
  margin-left: 8px;
  margin-right: 8px;
}
.section-news__breadcrumbs-link {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  transition: all 1s ease;
}
.section-news__breadcrumbs-link:hover {
  color: #cda274;
  transition: all 0.5s ease;
}
.section-news__breadcrumbs-link:active {
  color: #4d5053;
  transition: all 1s ease;
}
.section-news__text {
  font-weight: 400;
  font-size: 22px;
  font-family: "Jost";
  letter-spacing: 0.01em;
  color: #4d5053;
  width: 804px;
  margin-top: 48px;
}

.section-quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 50px;
  width: 799px;
  height: 267px;
  background: #f4f0ec;
  margin-top: 35px;
  margin-bottom: 27px;
}
.section-quotes__quotes {
  font-family: "DM Serif Display";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #cda274;
  width: 370px;
}

.tags__title {
  font-family: "DM Serif Display";
  font-style: sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292f36;
  margin-bottom: 24px;
}
.tags__buttons-tags {
  width: 335px;
  height: 145px;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}
.tags__button-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  border: none;
  padding: 9px 30px;
  background: #f4f0ec;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  font-style: sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #292f36;
}
.tags__button-tags:hover {
  background: #292f36;
  color: #fff;
  transition: all 0.5s ease;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 185px;
  width: 1199px;
  height: 272px;
  padding-top: 96px;
  padding-bottom: 141px;
}
.footer__logo-brand {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.footer__name-brand {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  color: #292f36;
  margin-bottom: 18px;
}
.footer__text {
  font-weight: 400;
  font-size: 22px;
  font-family: "Jost";
  letter-spacing: 0.01em;
  color: #4d5053;
  width: 393px;
  margin-bottom: 31px;
}
.footer__in {
  font-weight: 400;
  font-size: 18px;
  font-family: "DM Serif Display";
  letter-spacing: 0.06em;
  text-align: center;
  color: #292f36;
}
.footer__socialNetwork-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 54px;
  width: 225px;
  height: 22px;
}
.footer__page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 26px;
  width: 125px;
  height: 238px;
}
.footer__title-pages, .footer__title-contact {
  font-weight: 400;
  font-size: 25px;
  font-family: "DM Serif Display";
  color: #292f36;
}
.footer__page-link, .footer__contacts {
  font-weight: 400;
  font-size: 22px;
  font-family: "Jost";
  letter-spacing: 0.01em;
  color: #4d5053;
}
.footer__contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 26px;
  width: 258px;
  height: 272px;
}/*# sourceMappingURL=blogDetailsStyle.css.map */